@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

@font-face {
    font-family: Dicier;
    src: url('font/Dicier-Round-Dark.woff2');
}

.texturina {
    font-family: Texturina, sans-serif;
}

.germania-one {
    font-family: 'Germania One', sans-serif;
}

.dicier {
    font-family: Dicier, sans-serif;
    font-feature-settings: "liga" 1, "kern" 1, "calt" 1;
    -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 1;
    -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 1;
}


/*
Font Notes:
Page headers, titles - Texturina
Dice numbers: Germania One
Dice Shapes: Dicier
*/

:root {
    --gray900: #171717; /* Neutral 900 */
    --gray900s: #17171780;
    --gray800: #262626; /* Neutral 800 */
    --gray700: #404040; /* Neutral 700 */
    --gray600: #525252; /* Neutral 600 */
    --gray500: #737373; /* Neutral 500 */
    --gray400: #a1a1a1; /* Neutral 400 */
    --white: #fafafa; /* Neutral 50 */
}

/* Color notes refer to tailwind color picker: https: //tailwindcolor.com/ */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

/* Animation classes for use with JS */
.object-fade {
    opacity: 0;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
}

.object-show {
    opacity: 1;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
}

/* TOP BAR */

#player-stats-bar {
    background-color: var(--gray900);
    color: var(--white);
    height: 50px;
    width: 100%;
    padding: 0 50px 0 0;
    position: fixed;
    top: 0;
    display: block;
    z-index: 999;
}

#game-title {
    position: relative;
    left: 1rem;
    width: fit-content;
}

#game-title h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-shadow: 5px 5px #171717bf;
}

#player-gold {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    line-height: 3rem;
    position: absolute;
    right: 25px;
    top: 0px;
    height: 100%;
    gap: 16px;
    text-align: right;
}

/* 
    Spinning coin courtesy of irmirx on opengameart.org
    https: //opengameart.org/content/spinning-pixel-coin-0
*/
@keyframes coin {
    from {
        background-position: 0px;
    }

    to {
        background-position: 960px;
    }
}

#header-coin-icon {
    height: 40px;
    width: 40px;
    background: url('img/coin.png');
    background-size: cover;
    animation-name: coin;
    animation-duration: 1.5s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
}

/* GAME AREA */

#game-area {
    background-color: var(--gray800);
    height: 100vh;
    width: 100%;
}


/* Wager Box */

#wager-input-container {
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 500px;
    opacity: 1;
    transition: opacity 0.2s 0ms;
    -webkit-transition: opacity 0.2s 0ms;
    -moz-transition: opacity 0.2s 0ms;
    -ms-transition: opacity 0.2s 0ms;
    -o-transition: opacity 0.2s 0ms;
}

#wager-input {
    height: 100px;
    padding: 10px;
    font-size: 3.5rem;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-bottom: 3px dashed var(--gray700);
    color: var(--white);
}

#wager-input::placeholder {
    font-family: texturina;
    font-size: 2rem;
    vertical-align: center;
}

#wager-input:focus {
    background-color: var(--white);
    color: var(--gray900);
    outline: 0px;
    border: 0px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#wager-submit {
    height: 100px;
    padding: 10px;
    font-size: 3.5rem;
    vertical-align: center;
    line-height: 1rem;
    border: 0;
    background-color: var(--gray600);
    color: var(--white);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: var(--gray900) 0 5px;
    transition: transform 0.1s 0ms;
    -webkit-transition: transform 0.1s 0ms;
    -moz-transition: transform 0.1s 0ms;
    -ms-transition: transform 0.1s 0ms;
    -o-transition: transform 0.1s 0ms;
}

#wager-submit:hover {
    background-color: var(--gray500);
}

#wager-submit:active {
    box-shadow: transparent 0 0;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Giant Roll */
#giant-roll-container {
    background-color: var(--gray700);
    width: 400px;
    height: 350px;
    position: absolute;
    top: 50px;
    left: 1vw;
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    box-shadow: var(--gray900s) 5px 5px;
    transform: translateY(-100%);
    transition: transform 0.3s 0ms;
    -webkit-transition: transform 0.3s 0ms;
    -moz-transition: transform 0.3s 0ms;
    -ms-transition: transform 0.3s 0ms;
    -o-transition: transform 0.3s 0ms;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

#giant-roll-header-container {
    text-align: center;
    color: var(--white);
    position: relative;
}

#giant-roll-header-container h2 {
    font-size: 4rem;
}

#giant-roll-result-container {
    text-align: center;
    position: relative;
    width: 100%;
}
#giant-roll-result {
    color: var(--white);
    font-size: 7rem;
    position: relative;
    left: 50%;
    top: 25%;
    height: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#giant-roll-result::after {
    color: var(--gray900);
    content: "D10";
    font-size: 10rem;
    font-family: Dicier, sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: -1;
}

/* Player Rolls */
#player-roll-container {
    background-color: var(--gray700);
    position: absolute;
    bottom: 0px;
    right: 1rem;
    width: 600px;
    height: 400px;
    box-shadow: var(--gray900s) 5px 5px;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    transform: translateY(100%);
    transition: transform 0.3s 0ms;
    -webkit-transition: transform 0.3s 0ms;
    -moz-transition: transform 0.3s 0ms;
    -ms-transition: transform 0.3s 0ms;
    -o-transition: transform 0.3s 0ms;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}

#player-roll-header-container {
    text-align: center;
    color: var(--white);
    position: relative;
    height: 100px;
}

#player-roll-header-container h2 {
    font-size: 4rem;
}

#player-roll-result-container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.player-roll {
    width: 100%;
    color: var(--white);
    font-size: 6rem;
    position: relative;
    z-index: 1;
}

.player-roll::after {
    color: var(--gray400);
    content: "D6";
    font-size: 7rem;
    font-family: Dicier, sans-serif;
    position: absolute;
    left: 50%;
    top: -9%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: -1;
}

#player-roll-total-container {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#player-roll-total {
    color: var(--white);
    font-size: 7rem;
}

/* Round Results */
#round-results-container {
    width: 800px;
    text-align: center;
    color: var(--white);
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 30px;
    visibility: hidden;
    opacity: 1;
    transition: opacity 0.2s 0ms;
    -webkit-transition: opacity 0.2s 0ms;
    -moz-transition: opacity 0.2s 0ms;
    -ms-transition: opacity 0.2s 0ms;
    -o-transition: opacity 0.2s 0ms;
}

#round-results-header {
    font-size: 6rem;
}

#round-results-desc {
    font-size: 1.5rem;
    line-height: 1.5;
    padding-bottom: 30px;
}

#play-again-btn {
    height: 100px;
    width: 500px;
    padding: 10px;
    padding-bottom: 25px;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 0.5rem;
    border-radius: 12px;
    border: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: var(--gray600);
    color: var(--white);
    box-shadow: var(--gray900) 0 5px;
    transition: transform 0.1s 0ms;
    -webkit-transition: transform 0.1s 0ms;
    -moz-transition: transform 0.1s 0ms;
    -ms-transition: transform 0.1s 0ms;
    -o-transition: transform 0.1s 0ms;
}

#play-again-btn:hover {
    background-color: var(--gray500);
}

#play-again-btn:active {
    box-shadow: 0 0;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

/* GAME RULES */
#game-rules {
    background-color: yellow;
    display: none;
}

#dev-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    gap: 10px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#dev-buttons-container button {
    padding: 5px;
    width: 100%;
}