body {
    background-color: #000;
    font-family: sans-serif;
}

#title {
    color: #fff;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -25px;
}

#main {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 800px;
}

#game {
    color: #fff;
    width: 598px;
    height: 300px;
    float: left;
    margin-right: 2px;
}

#rolls {
    height: 100%;
    padding-bottom: 10px;
}

#giant {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
}

#giantRoll {
    text-align: center;
    font-size: 144px;
    vertical-align: middle;
}

#halflings {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

#game table {
    width: 100%;
}

#game table, #game th, #game td {
    border: 0px solid;
    border-collapse: collapse;
}
#giantRollTable{
    height: 100%;
}

#halflingRolls {
    height: 90%;
}

.rolls {
    font-size: 14px;
}

#halflingRoll1, #halflingRoll2 {
    font-size: 36px;
}

#halflingRollTotal {
    font-size: 72px;
}

#rollHalflings {
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#rollHalflings:hover {
    color: #000;
    background-color: #fff;
}

#stats {
    margin-left: 3px;
    width: 197px;
    height: 300px;
    float: left;
}

.stat {
    padding-left: 10px;
    font-size: 14px;
    color: #fff;
}

#goldText, #potText, #lastGameText, #overallText, #kneesHitText, #kneesMissText, #kneesSplitText, #kicksText, #snakesText, #mawsText, #legendaryText {
    float: right;
    padding-right: 20px;
}

#main:after {
    clear:both;
    display: table;
    content: "";
}

#wagerBox {
    margin-top: 30px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;
}

#wagerBox input {
    color: #fff;
    background-color: #000;
    border: 0px; 
    border-bottom: 1px dashed dimgrey;
    padding: 5px;
}

#wagerBox input:focus {
    color: #000;
    background-color: #fff;
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#wagerSubmit {
    cursor: pointer;
    color: #fff;
    background-color: #000;
    border: 0px solid #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#wagerSubmit:hover {
    color: #000;
    background-color: #fff;
}

#wagerSubmit:active {
    color: #fff;
    background-color: darkred;
}

#eventsBox {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    color: #fff;
    line-height: 1.5;
}

#helpBox {
    color: #fff;
    width: 800px;
    height: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    line-height: 1.4;
}

#helpBox button {
    cursor: pointer;
    color: #fff;
    background-color: #000;
    border: 0px solid #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 18px;
    text-decoration: underline;
}

#helpBox button:hover {
    text-decoration: underline;
    text-decoration-color: darkred;;
    -moz-text-decoration-color: darkred;
    text-decoration-thickness: 3px;
}

/*
Fade roll values in and out when they change
Ref: https://stackoverflow.com/questions/74114504/how-to-make-text-fade-out-and-new-text-fade-in-on-change
*/


.text-show {
    color: #fff;
    opacity: 1;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.text-fade {
    color: #fff;
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.hideThings {
    display: none;
}
