/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

@font-face {
    font-family: Dicier;
    src: url('font/Dicier-Round-Dark.woff2');
}

.texturina {
    font-family: Texturina, sans-serif;
}

.germania-one {
    font-family: 'Germania One', sans-serif;
}

.dicier {
    font-family: Dicier, sans-serif;
    font-feature-settings: "liga" 1, "kern" 1, "calt" 1;
    -webkit-font-feature-settings: "liga" 1, "kern" 1, "calt" 1;
    -moz-font-feature-settings: "liga" 1, "kern" 1, "calt" 1;
}


/*
Font Notes:
Page headers, titles - Texturina
Dice numbers: Germania One
Dice Shapes: Dicier
*/

:root {
    /* Color Variables */
    --gray900: #171717; /* Neutral 900 */
    --gray900s: #17171780;
    --gray800: #262626; /* Neutral 800 */
    --gray700: #404040; /* Neutral 700 */
    --gray600: #525252; /* Neutral 600 */
    --gray500: #737373; /* Neutral 500 */
    --gray400: #a1a1a1; /* Neutral 400 */
    --white: #fafafa; /* Neutral 50 */
    --white-s: #fafafa80;
    --cyan950: #053345;
    --cyan800: #005f78; /* Cyan 800 */
    --cyan700: #007595;
    --cyan600: #0092b8;
    --teal500:#00bba7;
    /* Element Sizing Variables */
    --titlebar-height: 50px;
    --sidebar-width: 450px;
}

/* Color notes refer to tailwind color picker: https: //tailwindcolor.com/ */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: var(--gray800);
}

ul {
    list-style: none;
}
/* Animation classes for use with JS */
.object-fade {
    opacity: 0;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
}

.object-show {
    opacity: 1;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
}


/* TOP BAR */

#title-bar {
    background-color: var(--gray900);
    color: var(--white);
    height: var(--titlebar-height);
    width: 100%;
    padding: 0 50px 0 0;
    position: absolute;
    top: 0;
    z-index: 999;
}

#game-title {
    position: relative;
    left: 1rem;
    width: fit-content;
}

#game-title h1 {
    line-height: 4rem;
    font-size: 4rem;
    text-shadow: 5px 5px #171717bf;
}

#player-gold {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    line-height: 3rem;
    position: absolute;
    right: 25px;
    top: 0px;
    height: 100%;
    gap: 16px;
    text-align: right;
}

/* Sidebar Content Tabs */

#tabs {
    position: absolute;
    top: calc(var(--titlebar-height) - 10px);
    right: 1rem;
    z-index: 998;
}

.sidebar-content-tab {
    width: calc((var(--sidebar-width) / 3) - 1.2rem);
    height: calc(var(--titlebar-height) + 10px);
    padding-top: 8px;
    margin: 0 3px;
    font-family: texturina, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--gray600);
    border: 0;
    box-shadow: 5px 5px var(--gray900s);
    border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
    transition: transform 0.1s 0ms, background-color 0.7s 0ms;
    -webkit-transition: transform 0.1s 0ms, background-color 0.7s 0ms;
    -moz-transition: transform 0.1s 0ms, background-color 0.7s 0ms;
    -ms-transition: transform 0.1s 0ms, background-color 0.7s 0ms;
    -o-transition: transform 0.1s 0ms, background-color 0.7s 0ms;
}

.sidebar-content-tab:active {
    box-shadow: 0 0;
    transform: translate(5px, 5px);
    -webkit-transform: translate(5px, 5px);
    -moz-transform: translate(5px, 5px);
    -ms-transform: translate(5px, 5px);
    -o-transform: translate(5px, 5px);
}

.sidebar-content-tab:last-of-type {
    margin: 0 0 0 3px;
}

.currently-showing-tab {
    background-color: var(--cyan800);
    font-weight: 700;
    text-decoration: underline double var(--white-s);
}

/*
    Spinning coin courtesy of irmirx on opengameart.org
    https: //opengameart.org/content/spinning-pixel-coin-0
*/
@keyframes coin {
    from {
        background-position: 0px;
    }

    to {
        background-position: 960px;
    }
}

#header-coin-icon {
    height: 40px;
    width: 40px;
    background: url('img/coin.png');
    background-size: cover;
    animation-name: coin;
    animation-duration: 1.5s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
}

#content-container {
    position: relative;
    top: var(--titlebar-height);
    width: 100vw;
    height: calc(100vh - var(--titlebar-height));
}


/* SIDEBAR */

#sidebar {
    color: var(--white);
    background-color: var(--gray700);
    position: relative;
    top: 0px;
    left: calc(100vw - var(--sidebar-width));
    width: var(--sidebar-width);
    height: 100%;
    z-index: 1;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform 0.2s 0ms;
    -webkit-transition: transform 0.2s 0ms;
    -moz-transition: transform 0.2s 0ms;
    -ms-transition: transform 0.2s 0ms;
    -o-transition: transform 0.2s 0ms;
    border-left: 3px solid var(--gray400);
}

.sidebar-content {
    padding: 2rem;
    padding-top: calc(var(--titlebar-height) + 1rem);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Game Help */
#game-help-container {
    visibility: visibile;
}
/* Event Log */
#event-log-container {
    visibility: hidden;
}
/* Player Stats */
#player-stats-container {
    visibility: hidden;
}

#player-stats-container h1 {
    font-family: texturina, sans-serif;
    font-size: 2.2rem;
    text-shadow: 5px 3px var(--gray900s);
    display: block;
    border-bottom: solid 2px var(--white);
    box-shadow: 0 2px var(--gray900s);
}

#player-stats-container h3 {
    font-family: texturina, sans-serif;
    font-size: 1.8rem;
    text-shadow: 5px 3px var(--gray900s);
}

.stat-legend {
    font-family: texturina, sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    padding-left: 30px;
    font-weight: 500;
}

.stat-value {
    font-family: 'Germania One', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    position: absolute;
    right: 55px;
    vertical-align: center;
    text-shadow: 3px 2px var(--gray900s);
}


/* GAME AREA */

#game-area-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: width 0.2s 0ms;
    -webkit-transition: width 0.2s 0ms;
    -moz-transition: width 0.2s 0ms;
    -ms-transition: width 0.2s 0ms;
    -o-transition: width 0.2s 0ms;
}

#game-area {
    background-color: var(--gray800);
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 800px;
}


/* Wager Box */

#wager-input-container {
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 500px;
    opacity: 1;
    transition: opacity 0.2s 0ms;
    -webkit-transition: opacity 0.2s 0ms;
    -moz-transition: opacity 0.2s 0ms;
    -ms-transition: opacity 0.2s 0ms;
    -o-transition: opacity 0.2s 0ms;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#wager-input {
    height: 100px;
    padding: 10px;
    font-size: 3.5rem;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-bottom: 3px dashed var(--gray700);
    color: var(--white);
}

#wager-input::placeholder {
    font-family: texturina;
    font-size: 2rem;
    vertical-align: center;
}

#wager-input:focus {
    background-color: var(--white);
    color: var(--gray900);
    outline: 0px;
    border: 0px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#wager-submit {
    height: 100px;
    padding: 10px;
    font-size: 3.5rem;
    font-weight: 700;
    vertical-align: center;
    line-height: 0.5rem;
    border: 0;
    background-color: var(--gray600);
    color: var(--white);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: var(--gray900) 0 5px;
    transition: transform 0.1s 0ms;
    -webkit-transition: transform 0.1s 0ms;
    -moz-transition: transform 0.1s 0ms;
    -ms-transition: transform 0.1s 0ms;
    -o-transition: transform 0.1s 0ms;
}

#wager-submit:hover {
    background-color: var(--gray500);
}

#wager-submit:active {
    box-shadow: transparent 0 0;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

/* Remove arrow buttons from wager input */

/* >> Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* >> Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.roll-container-header {
    font-size: 3rem;
}

/* Giant Roll */
#giant-roll-container {
    background-color: var(--gray700);
    width: 400px;
    height: 250px;
    position: absolute;
    display: flex;
    top: -5px;
    left: 50%;
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    box-shadow: var(--gray900s) 5px 5px;
    transform: translate(-50%, -100%);
    transition: transform 0.3s 0ms;
    -webkit-transition: transform 0.3s 0ms;
    -moz-transition: transform 0.3s 0ms;
    -ms-transition: transform 0.3s 0ms;
    -o-transition: transform 0.3s 0ms;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
}

#giant-roll-result-container {
    color: var(--white);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1 1 auto;
    line-height: 1.3;
    padding-bottom: 10px;
}

#giant-roll-result-container h2 {
    position: relative;
    font-size: 3rem;
}

#giant-roll-result {
    color: var(--white);
    font-size: 7rem;
    position: relative;
    z-index: 1;
}

#giant-roll-size {
    font-size: 10rem;
    color: var(--gray900);
    position: absolute;
    top: -7px;
    z-index: 0;
}

/* Player Rolls */
#player-roll-container {
    background-color: var(--gray700);
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 600px;
    height: 250px;
    box-shadow: var(--gray900s) 5px 5px;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    transform: translate(-50%, 100%);
    transition: transform 0.3s 0ms;
    -webkit-transition: transform 0.3s 0ms;
    -moz-transition: transform 0.3s 0ms;
    -ms-transition: transform 0.3s 0ms;
    -o-transition: transform 0.3s 0ms;
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
}

#player-roll-header-container {
    text-align: center;
    color: var(--white);
    position: relative;
    height: 75px;
}

#player-roll-result-container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.2;
}

.player-roll {
    color: var(--white);
    font-size: 6rem;
    position: relative;
    z-index: 1;
}

.player-roll::after {
    content: "D6";
    font-size: 7rem;
    font-family: Dicier, sans-serif;
    position: absolute;
    left: 50%;
    top: -9%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: -1;
}

#player-roll-1.player-roll::after {
    color: var(--cyan600);
}

#player-roll-2.player-roll::after {
    color: var(--teal500);
}

#player-roll-total {
    color: var(--white);
    font-size: 7rem;
    text-shadow: 5px 5px var(--gray900s);
    margin: -0 -25px;
}

.result-other-text {
    color: var(--white);
    font-size: 3rem;
    margin: 0 -50px;
}
/* Round Results */
#round-results-container {
    text-align: center;
    color: var(--white);
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 30px;
    visibility: hidden;
    opacity: 1;
    transition: opacity 0.2s 0ms;
    -webkit-transition: opacity 0.2s 0ms;
    -moz-transition: opacity 0.2s 0ms;
    -ms-transition: opacity 0.2s 0ms;
    -o-transition: opacity 0.2s 0ms;
}

#round-results-header {
    font-size: 6rem;
    text-shadow: 5px 5px var(--gray900s);
}

#round-results-desc {
    font-size: 1.5rem;
    line-height: 1.5;
    padding-bottom: 30px;
}

#play-again-btn {
    height: 100px;
    width: 500px;
    padding: 10px;
    padding-bottom: 25px;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 0.5rem;
    border-radius: 12px;
    border: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: var(--gray600);
    color: var(--white);
    box-shadow: var(--gray900) 0 5px;
    transition: transform 0.1s 0ms;
    -webkit-transition: transform 0.1s 0ms;
    -moz-transition: transform 0.1s 0ms;
    -ms-transition: transform 0.1s 0ms;
    -o-transition: transform 0.1s 0ms;
}

#play-again-btn:hover {
    background-color: var(--gray500);
}

#play-again-btn:active {
    box-shadow: 0 0;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

#dev-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    gap: 10px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    z-index: 999;
}

#dev-buttons-container button {
    padding: 5px;
    width: 100%;
}